@media (max-width: 1212px) {
    .container3 {
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    .container3 {
        max-width: 750px;
    }
}

@media (max-width: 880.98px) {
    .catalog__item {
        max-width: 50%;
    }

    .catalog__items {
        row-gap: 30px;
    }
}

@media (min-width: 879.98px) {
    .catalog__item {
        max-width: 33.33%;
    }
}



@media (max-width: 767.98px) {
    .container3 {
        max-width: none;
        padding: 0;
    }

    .fullscreen3__content {
        width: 100%;
        transform: translate(0, 211px);
        border-radius: 0;
        padding: 30px 60px;
        background: url(../img/header_bg-2.png) center center / cover no-repeat;
    }

    .fullscreen3__title {
        font-size: 36px;
    }
}

@media (max-width: 759.98px) {
    .fulscreen {
        &__bode {
            padding: 210px 0;
        }
    }

    .container3 {
        max-width: none;
    }

    .catalog__items {
        row-gap: 26px;
    }
}


@media (max-width: 589.98px) {
    .catalog__item {
        max-width: unset;
    }

    .fullscreen3__content {
        padding: 20px 60px;
    }

    .fullscreen3__title {
        font-size: 30px;
    }
}

@media (max-width: 479.98px) {
    .buttons__box {
        display: flex;
        flex-direction: column;
    }

    .catalog__button-filter {
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    .fullscreen3__title {
        font-size: 24px;
    }
    .catalog__items {
        row-gap: 20px;
    }
}